html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
img {
	max-width: 100%;
}
#intro {
	
}
.full_width {
   width: 100% !important;
   margin-left: auto;
   margin-right: auto;
   max-width: 100% !important;
}
.grey {
	background-color: #c6c8c8;
}
.slide {
	display: none;	
}
.top {
	display: block;
	height: 200px;
	width: 100%;
	background-color: #deed0e;
	background-image: url("Site_Assets/Character_1_Big.jpg");
	background-repeat: no-repeat;
	background-position: 50% 10%;
}
.intro_container {
	width: 80%;
	margin: auto;
}
.white_space {
	display: none;
}
.intro_blurb {
	margin-top: -3em;
	margin-bottom: 2em;
	padding-bottom: 2em;
	border-bottom: solid 1px #111;
}
.intro_blurb p{
	margin: 0;
}
.lib_container {
	margin-top: 1em;
	margin-bottom: 3em;
}
.lib {
	background-color: #deed0e;
	color: #111;
}
.intro_buttons {
	margin-bottom: 2em;
	width: 6em;
	margin: auto;
}
.intro_button {
	width: 6em;
	height: 2em;
	background-color: #deed0e;
	margin-bottom: 2em;
	border-radius: 1em;
	text-align: center;

}
.intro_button img{
	max-height: 2em;
}
#projects {
	
}
.top_bar {
	height: 80px;
	margin-bottom: 3em;
}
.relative {
	position: relative;

}
.large_project_text {
	position: absolute;
	margin-top: -2.5em;
	margin-left: 5%;
	width: 90%;
	border-bottom: solid 1px #111;
	height: 100%;
}
.small_project_text {
	position: absolute;
	margin-top: -1.3em;
	margin-left: 5%;
	width: 90%;
	border-bottom: solid 1px #111;
	height: 100%;
}
.title_A {
	font-size: 3em;
	background-color: #deed0e;
	padding: 7px;
	color: #111;
}
.title_B {
	font-size: 2em;
	background-color: #deed0e;
	padding: 3px;
	color: #111;
	line-height: 1em;
}
.date {
	position: absolute;
	bottom: 0;
	right: 0;
}
.square_text {

}
.square_text p{
	margin: 0;
}
.spacer {
	height: 60px;
}
a:hover {
	color: #dad7ae !important;
}

/* Screens smaller than 770px */

@media (min-width: 40.0625em) {
	.top {
		display: none;
	}
	.white_space {
		display: block;
		background-color: #fff;
		width: 100%;
		height: 200px;
	}
	.slide {
		height: 100%;
		position: absolute;
		right: 0;
		top: 0;
		display: inline-block;
		background-image: url("Site_Assets/Character_1_Big.jpg");
		background-repeat: no-repeat;
		background-position: center top;
	}
	.intro_buttons {
		position: relative;
		left: 62.5%;
		z-index: 3;
	}
}
/*@media (min-width: 64.0625em) {
	.full {
		display: none;
	}
	.lefty {
		display: block;
		background-color: #c6c8c8;
	}
	.righty {
		height: 100%;
		position: absolute;
		z-index: -9000;
		right: 0;
		top: 0;
		display: block;
		background-image: url("Site_Assets/Character_1_Big.jpg");
		background-repeat: no-repeat;
		background-position: center top;

	}
	.left {
		display: inline-block;
		width: 50%;
		background-color: #c6c8c8;
		height: 700px;
	}
	.right {
		display: inline-block;
		height: 700px;
		width: 50%;
		float: right;
		background-color: #deed0e;
		background-image: url("Site_Assets/Character_1_Big.jpg");
		background-repeat: no-repeat;
		background-position: center top;

	}
	.white_space {
		display: block;
		background-color: #fff;
		width: 100%;
		height: 200px;
	}
	.top {
		display: none;
	}
	.relative {
		margin:auto;
	}
	.intro_buttons {
		margin-bottom: 2em;
		float: right;
		margin-right: -3em;
	}
}
*/