.main {
    margin: 0 auto;
    width: 900px;
}
.banner {
    background-color: #333333;
    color: #fefefe;
    padding: 20px;
    padding-top: 80px;
    padding-bottom: 80px;
}
.title {
    font-size: 140%;
    font-weight: bold;
}
.header {
    background-color: #eee;
    padding: 20px;
}
.header.scroll-to-fixed-fixed {
    color: red;
}
.footer {
/*    background-color: #eee;
    padding: 20px;*/
    clear: both;
}
.footer.scroll-to-fixed-fixed {
    color: red;
}
.footer-content {
    background-color: #aaa;
    padding: 20px;
}
.chapter {
    overflow: hidden;
    font-size: 1em;
    margin-left: 20px;
}
.chapter.scroll-to-fixed-fixed {


}
.chapter.scroll-to-fixed-fixed {
    background-color: #deed0e;
    color: #111;
}
#test {
    background: #f00;
}
#wrapper {
    border:10px solid green;
    height: 800px;
    padding-top:50px;
}