.main {
    margin: 0 auto;
    width: 900px;
}
.banner {
    background-color: #333333;
    color: #fefefe;
    padding: 20px;
    padding-top: 80px;
    padding-bottom: 80px;
}
.title {
    font-size: 140%;
    font-weight: bold;
}
.chapter {
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    font-size: 1.25em;
    font-weight: bold;
    padding: .5em;
    line-height: 1em!important;
    margin-left: 60px;
    background-color: rgba(222,237,14,0);
    -webkit-transition: background-color 1s;
    transition: background-color 1s;
}

.chapter.scroll-to-fixed-fixed {
    background-color: rgba(222,237,14,.7);
    color: #111;
    padding: .5em;
    line-height: 1em!important;
    -webkit-transform: background-color(1);
    transform: background-color(1);

}
.chapter_box {
    height: 40px;
    width: auto;

}
.chapter_mobile {
    font-family: 'Roboto', sans-serif;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 1.25em;
    background-color: rgba(222,237,14,.7);
    color: #111;
    padding: .3em;
    line-height: 1.5em!important;
    font-weight: bold;
    display: block;
    
}
.contact {
    font-family: 'Roboto', sans-serif;
    font-size: 1.25em;
    font-weight: bold;
    background-color: rgba(222,237,14,.7);
    color: #111;
    margin-left: 10px;
    padding: .5em;
    display: inline-block; 
}
.contact a{
    color: #111;
}
.contact a:hover{
    color: #fff;
}

.header_box {
    width: 20px;
    height: 20px;
   
}
.header {
    margin-left:15px;
    background-color: rgba(255,255,255,0);
    opacity: 0;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
}
.header.scroll-to-fixed-fixed {
    opacity: 1;
    
    -webkit-transform: opacity(1);
    transform: opacity(1);
}
.header img{
    width: 35px;
    margin-bottom: 10px;
}
.fixed_logo {
    position: fixed;
    left: 15px;
    top: 26px;
    width: 35px;
    z-index: 9999;
}
#test {
    background: #f00;
}
#wrapper {
    border:10px solid green;
    height: 800px;
    padding-top:50px;
}
