html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
img {
	max-width: 100%;
}
#intro {
	
}
.full_width {
   width: 100% !important;
   margin-left: auto;
   margin-right: auto;
   max-width: 100% !important;
}
.grey {
	background-color: #c6c8c8;
}
.blue {
	background-color: #daedea;
}
.slide {
	display: none;	
}
.top {
	display: block;
	height: 200px;
	width: 100%;
	background-color: red;
	background-image: url("Site_assets/Slide_Images/Character_1_Big.jpg");
	background-repeat: no-repeat;
	background-position: 50% 10%;
}
.intro_container {
	width: 80%;
	margin: auto;
}
.white_space {
	display: none;
}
.intro_blurb {
	margin-top: -2.5em;
	margin-bottom: 2em;
	padding-bottom: 2em;
	border-bottom: solid 1px #111;
}
.intro_blurb p{
	margin: 0;
}
.lib_container {
	margin-top: 1em;
	margin-bottom: 3em;
}
.lib {
	background-color: #deed0e;
	color: #111;
}
.intro_buttons {
	margin-bottom: 2em;
	width: 6em;
	margin: auto;
}
.intro_button {
	width: 6em;
	height: 2em;
	background-color: #deed0e;
	margin-bottom: 2em;
	border-radius: 1em;
	text-align: center;
}
.intro_button img{
	max-height: 2em;
}
.nav {
	height: 80px;
}
.crafts p {
	line-height: 2em;
}
.crafts img {
	float: right;
}
.contact {
	background-color: rgba(222,237,14,.7);
    color: #111;
    font-size: 1em;
    padding: .5em;
    display: inline-block;
    margin-left: .5em;
}
.header {
	background-color: rgba(255,255,255,.7);
    opacity: 0;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
}
.header.scroll-to-fixed-fixed {
    opacity: 1;
    -webkit-transform: opacity(1);
    transform: opacity(1);
}
.header img{
	padding: 1em;
    display: inline-block;
}
.relative {
	position: relative;
}
.title_A {
	font-size: 3em;
	background-color: #deed0e;
	padding: 7px;
	color: #111;
}
.title_B {
	font-size: 2em;
	background-color: #deed0e;
	padding: 3px;
	color: #111;
	line-height: 1.3em;

}
.title_C {
	font-size: 1.5em;
	background-color: #deed0e;
	color: #111;
}

.overlay_picture_title {
	position: absolute;
	width: 90%;
	left:8%;
	top: 8%;
	z-index: 2;
}
.overlay_small_title {
	position: absolute;
	left: 15%;
	top: -.5em;
	z-index: 2;
}
.overlay_large_title {
	position: absolute;
	left: 10%;
	top: -.5em;
	z-index: 2;
}
.date {
	z-index: 1;
	bottom: 1em;
	left: 15%;
	position: absolute;
}
.text {

}
.text p{
	margin: 0;
}
.space_1 {
	margin-top: 1em;
}
.space_3 {
	margin-top: 3em;
}
.space_6 {
	margin-top: 6em;
}
.space_9 {
	margin-top: 9em;
}
.space_home {
	margin-top: 3em;
}
.space_small {
	margin-top: 3em;
}
.big_green {
	height: 3000px;
	background-color: green;
}
a:hover {
	color: #dad7ae !important;
}
.relative {
	position: relative;
}
.inline img{
	display: block;
	padding-bottom: 1em;
}
/* Underline From Left */
.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #deed0e;
  height: 10px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
  right: 0;
}

/* Rotate */
.hvr-rotate {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-rotate:hover, .hvr-rotate:focus, .hvr-rotate:active {
  -webkit-transform: rotate(4deg);
  transform: rotate(4deg);
}

/* Medium and up */

@media (min-width: 40.0625em) {
	.top {
		display: none;
	}
	.white_space {
		display: block;
		background-color: #fff;
		width: 100%;
		height: 200px;
		z-index: -1;
	}
	.slide {
		display: inline-block;
		/*height: 100%;
		position: absolute;
		right: 0;
		top: 0;
		display: inline-block;

		background-repeat: no-repeat;
		background-position: center top;*/
	}
	.intro_buttons {
		position: relative;
		left: 62.5%;
		z-index: 3;
	}
	.overlay_picture_title {
		position: absolute;
		width: 70%;
		left:15%;
		top: 10%;
		z-index: 2;
	}
	.crafts {
		text-align: center;
	}
	.crafts img {
		float: none;
	}
	.inline {
		display: flex;
		justify-content: space-between;
	}
	.inline img {
		width: 30%;
		height: 30%;
	}
	.space_home {
		margin-top: 6em;
	}
	.space_small {
		margin-top: 1;
	}
	.contact {
		background-color: rgba(222,237,14,.7);
	    color: #111;
	    font-size: 1em;
	    padding: 1em;
	    display: block;
	    width: 88px;
	}
	.header {
		background-color: rgba(255,255,255,0);
		margin-left: 2%;
		padding-top: 1em;
	}
	.header img{
		padding-bottom: 2em;
	}
}
/* Large and up */

@media (min-width: 64.0625em) {
	.top {
		display: none;
	}
@media (min-width: 64.0625em) {
	.space_home {
		margin-top: 9em;
	}
	/*.full {
		display: none;
	}
	.lefty {
		display: block;
		background-color: #c6c8c8;
	}
	.righty {
		height: 100%;
		position: absolute;
		z-index: -9000;
		right: 0;
		top: 0;
		display: block;
		background-image: url("Site_Assets/Character_1_Big.jpg");
		background-repeat: no-repeat;
		background-position: center top;

	}
	.left {
		display: inline-block;
		width: 50%;
		background-color: #c6c8c8;
		height: 700px;
	}
	.right {
		display: inline-block;
		height: 700px;
		width: 50%;
		float: right;
		background-color: #deed0e;
		background-image: url("Site_Assets/Character_1_Big.jpg");
		background-repeat: no-repeat;
		background-position: center top;

	}
	.white_space {
		display: block;
		background-color: #fff;
		width: 100%;
		height: 200px;
	}
	.top {
		display: none;
	}
	.relative {
		margin:auto;
	}
	.intro_buttons {
		margin-bottom: 2em;
		float: right;
		margin-right: -3em;
	}*/
}
