html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
p {
	font-family: 'Roboto', sans-serif;
}
img {
	max-width: 100%;
}
h3 {
	font-family: 'Roboto', sans-serif;
	line-height: 1.7em!important;
}
table {
	font-family: 'Roboto', sans-serif;
	background: none!important;
	border: none!important;
}
tr {
	background: none!important;
	font-size: 1em!important;
}
td {
	font-size: 1em!important;
}
.grey {
	background-color: #c6c8c8;
}
.grey_2 {
	background-color: #E0E0E0;
}
.service_background {
	background-image: url("Site_Assets/Project_Images/Titles/Service_Title_Color_Lines.png");
	background-color: #cab5d2;
	background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}
.purple {
	background-color: #cab5d2;
}
.moon_background {
	background-image: url("Site_Assets/Project_Images/Titles/Moon_Title_Color_Lines.png");
	background-color: #aabcd0;
	background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}
.blue {
	background-color: #aabcd0;
}
.personal_sketching_background {
	background-image: url("Site_Assets/Project_Images/Titles/Personal_Sketching_Title_Color_Lines.png");
	background-color: #e5e5e5;
	background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}
.grey {
	background-color: #e5e5e5; 
}
.h2h_background {
	background-image: url("Site_Assets/Project_Images/Titles/H2H_Title_Color_Lines.png");
	background-color: #fe8278;
	background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}
.red {
	background-color: #fe8278;
}
.journey_background {
	background-image: url("Site_Assets/Project_Images/Titles/Journey_Title_Color_Lines.png");
	background-color: #fbdf64;
	background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}
.yellow {
	background-color: #fbdf64;
}
.client_sketching_background {
	background-image: url("Site_Assets/Project_Images/Titles/Client_Sketching_Title_Color_Lines.png");
	background-color: #a9cc8a;
	background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}
.green {
	background-color: #a9cc8a;
}
.gradient {
background: linear-gradient(45deg, #bdbdbd, #9fe4df, #a3c6ee, #e69cb6);
background-size: 800% 800%;

-webkit-animation: gradient 30s ease infinite;
-moz-animation: gradient 30s ease infinite;
animation: gradient 30s ease infinite;
}
@-webkit-keyframes gradient {
    0%{background-position:0% 87%}
    50%{background-position:100% 14%}
    100%{background-position:0% 87%}
}
@-moz-keyframes gradient {
    0%{background-position:0% 87%}
    50%{background-position:100% 14%}
    100%{background-position:0% 87%}
}
@keyframes gradient { 
    0%{background-position:0% 87%}
    50%{background-position:100% 14%}
    100%{background-position:0% 87%}
}
.shadow {
	box-shadow: 5px 5px 2.5px #333;
}

#intro {
	
}
.full_width {
   width: 100% !important;
   margin-left: auto;
   margin-right: auto;
   max-width: 100% !important;
}
.slide {
	display: none;	
}
.intro_container {
	width: 75%;
	margin: auto;
}
.white_space {
	display: block;
	background-color: #fff;
	width: 100%;
	height: 100px;
	z-index: -1;

}
.intro_blurb {
	margin-top: -2.5em;
	margin-bottom: 2em;
	padding-bottom: 2em;
	border-bottom: solid 1px #111;
}
.5_W {
	font-family: 'Roboto', sans-serif;
	display: inline-block;
	background-color: red;
}
.info {
	display: inline-block;
	background-color: green;
}
.intro_blurb p{
	margin: 0;
}
.lib_container {
	margin-top: 1em;
	margin-bottom: 6em;
}
.lib {
	font-family: 'Roboto', sans-serif;
	background-color: #deed0e;
	color: #111;
	font-weight: bold;

}
.lib a{
	color: #111;

}
.lib a:hover{
	color: #fff;
}
.link {
	background-color: #deed0e;	
	color: #111;

}
.link a{
	color: #111;

}
.link a:hover{
	color: #fff;
}
.line_spacer p{
	line-height: 2em;
}
.bottom_border {
	padding-bottom: 2em;
    border-bottom: solid 2px #111;
}
.bottom_border p{
	line-height: 1.25em;
}
.overlap {
	margin-top: -1.75em;
	margin-bottom: 6em;
	position: absolute;
}
.intro_button {
	height: 3em;
	background-color: #deed0e;
	text-align: center;
}
.intro_button img{
	margin: .5em;
	max-height: 2em;
}
.intro_button p{
	font-family: 'Roboto', sans-serif;
	padding: .75em;
	font-weight: bold;
}
.intro_button a{
	color: #111;
}
.intro_button a:hover{
	color: #fff;
}
.button_space {
	margin-left: 1em;
	margin-right: 1em;
}
.footer_section {
    clear: both;
    padding-top: 5em;
    background-color: #ccc;
    text-align: center;
}
.footer_left {
	margin-left: 5%;
	float: left;
	display: inline-block;
}
.footer_center {
	display: inline-block;
}
.footer_right {
	margin-right: 5%;
	float:right;
	display: inline-block;
}
.footer_text {
	margin-top: 4em;
	font-size: .8em;
	color: #fff;
}
.crafts p {
	font-family: 'Roboto', sans-serif;
	line-height: 2em;
}
.crafts img {
	float: right;
}
.relative {
	position: relative;
}
.title_A {
	font-family: 'Roboto', sans-serif;
	font-size: 3em;
	background-color: #deed0e;
	padding: 7px;
	color: #111;
	line-height: 1.3em;
}
.title_B {
	font-family: 'Roboto', sans-serif;
	font-size: 2em;
	background-color: #deed0e;
	padding: 3px 8px 3px 8px;
	color: #111;
	line-height: 1.3em;
	bottom: 1em;
}
.title_B a{
	color: #111;

}
.title_B a:hover{
	color: #fff;
}
.title_C {
	font-family: 'Roboto', sans-serif;
	font-size: 1.5em;
	padding:3px;
	background-color: #deed0e;
	color: #111;
	line-height: 1.3em;
}
.title_D {
	font-family: 'Roboto', sans-serif;
	font-size: 1.25em;
	font-weight: bold;
	padding: .25em;
	background-color: #deed0e;
}
.title_E {
	font-family: 'Roboto', sans-serif;
	font-size: 1.25em;
	font-weight: bold;
}
.note {
	font-family: 'Roboto', sans-serif;
	background-color: #E0E0E0;
	padding: 1em 2em .25em 2em !important;
}
.description {
	font-family: 'Roboto', sans-serif;
	color: #333;
	font-size: .9em;
	padding-left: 1em;
	margin-bottom: .5em;
	margin-top: .5em;
}

.overlay_picture_title {
	position: absolute;
	width: 90%;
	left:8%;
	top: 8%;
	z-index: 2;
}
.overlay_small_title {
	position: absolute;
	top: -1.5em;
	left: 10%;
	right: 10%;
	z-index: 2;
}
.overlay_medium_title {
	position: absolute;
	top: -1em;
	left: 10%;
	right: 5%;
	bottom: 2em;
	z-index: 2;
}
.overlay_large_title {
	position: absolute;
	top: -2em;
	left: 7%;
	right: 3.5%;
	z-index: 2;
}
.overlay {
  position: relative;
}
.overlay:after {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  opacity:0;
}
.overlay:hover:after  {
  opacity: .5;
}
.date_medium {
	font-family: 'Roboto', sans-serif;
	padding-top: 10px;
	margin-top: 10px;
	top: 10px;
	left: 10%;
	font-weight: bold;
}
.text {

}
.text p{
	margin: 0;
}
.space_1 {
	margin-top: 1em;
}
.space_3 {
	margin-top: 3em;
}
.space_6 {
	margin-top: 6em;
}
.space_9 {
	margin-top: 9em;
}
.space_13 {
	margin-top: 13em;
}
.space_home {
	margin-top: 3em;
}
.space_small {
	margin-top: 3em;
}
.big_green {
	height: 3000px;
	background-color: green;
}
.relative {
	position: relative;
}
.absolute {
	position: relative;
}
.inline img{
	display: block;
	padding-bottom: 1em;
}
.center {
	text-align: center;

}
.columns img{
	width: 100%;
}

/* Medium and up */

@media (min-width: 40.0625em) {

	.white_space {
		display: block;
		background-color: #fff;
		width: 100%;
		height: 200px;
		z-index: -1;

	}
	.overlay_picture_title {
		position: absolute;
		width: 70%;
		left:15%;
		top: 10%;
		z-index: 2;
	}
	.crafts {
		text-align: center;
	}
	.crafts img {
		float: none;
	}
	.inline {
		display: flex;
		justify-content: space-between;
	}
	.inline img {
		width: 30%;
		height: 30%;
	}
	.space_home {
		margin-top: 6em;
	}
	.space_small {
		margin-top: 1;	
	}
	.footer_left {
		margin-left: 8%;
		float: left;
		display: inline-block;
	}
	.footer_right {
		margin-right: 8%;
		float:right;
		display: inline-block;
	}

/* Large and up */

@media (min-width: 64.0625em) {
	.top {
		display: none;
	}
